services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: clinic-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
      - DEBUG=True
      - ALLOWED_HOSTS=localhost,127.0.0.1,backend,127.0.0.1:8000
      - CORS_ALLOWED_ORIGINS=http://localhost:3000,http://frontend:3000
    volumes:
      - ./backend:/app
      - backend_static:/app/staticfiles
    command: python manage.py runserver 0.0.0.0:8000
    networks:
      - clinic-network
    depends_on:
      - frontend
    dns:
      - 8.8.8.8
      - 8.8.4.4

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: clinic-frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
      - NODE_ENV=development
    networks:
      - clinic-network

volumes:
  backend_static:

networks:
  clinic-network:
    driver: bridge
